@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Monitor de consumo eléctrico</h1>
<p>
    Este monitor de mediciones de consumo eléctrico permite visualizar y gestionar dispositivos IoT conectados, así como consultar las mediciones de consumo eléctrico registradas.
</p>
<p>
    La aplicación ofrece dos vistas principales: una para ver y administrar los dispositivos IoT disponibles, y otra para revisar el historial de mediciones cargadas, facilitando el seguimiento y análisis del consumo energético.
</p>

<p>
    La aplicación está diseñada para ser intuitiva y fácil de usar, permitiendo a los usuarios acceder rápidamente a la información que necesitan.
</p>

<div class="card" style="max-width: 400px; margin-top: 1rem;">
    <div class="card-body">
        <strong>Autor:</strong> Humberto Alejandro Arana Hurtado
    </div>
</div>
